<p-card>
  <div class="flex flex-col items-center justify-between min-h-[200px] p-4">
    <div class="flex flex-col items-center">
      <i class="pi pi-star-fill text-2xl text-yellow-500 mb-2"></i>
      <h3 class="text-lg font-medium text-gray-700">Most Active Exercise</h3>
    </div>

    <div class="flex flex-col items-center justify-center py-4 text-center">
      <span class="text-3xl font-bold text-primary-500 mb-2">{{
        mostActiveExercise
      }}</span>
      <span class="text-xl text-gray-600">{{ exerciseDuration }}</span>
    </div>

    <div>
      <p-tag value="This Week" [rounded]="true" class="text-sm font-medium">
      </p-tag>
    </div>
  </div>
</p-card>
