<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="card">
  <p-splitter [panelSizes]="[10, 90]" [style]="{ height: '100vh' }">
    <ng-template #panel class="m-2">
      <app-sidebar></app-sidebar>
    </ng-template>
    <ng-template #panel>
      <app-main-layout></app-main-layout>
    </ng-template>
  </p-splitter>
</div>

<!-- <app-workout-form></app-workout-form>

<app-workout-list></app-workout-list> -->

<router-outlet />
