<div
  class="flex flex-col lg:flex-row lg:space-x-4 min-h-[700px] overflow-hidden"
>
  <!-- Username filter section -->
  <div class="w-full lg:w-64 mb-4 lg:mb-0">
    <div class="bg-white shadow-sm rounded-2xl p-4 sticky h-[calc(100%-30px)]">
      <h3 class="text-3xl font-bold mb-3 text-gray-900 text-center">Users</h3>
      <div class="rounded-2xl">
        <p-listbox
          [options]="usernames"
          [(ngModel)]="selectedUsername$.value"
          (onChange)="onUsernameSelect($event.value)"
          scrollHeight="max(600px, calc(100vh - 380px))"
          emptyMessage="No usernames found"
          filterPlaceHolder="Search username..."
          styleClass="!border-0 !shadow-none rounded-2xl overflow-hidden "
          listStyleClass="p-2 rounded-2xl"
        >
          <ng-template let-username pTemplate="item">
            <div
              class="flex items-center px-3 py-2 transition-colors duration-200 rounded-md cursor-pointer mb-1.5 overflow-hidden"
            >
              <div class="flex items-center space-x-3 min-w-0 w-full">
                <div
                  [style.background-color]="getAvatarColor(username)"
                  class="w-8 h-8 rounded-full flex-shrink-0 flex items-center justify-center text-white text-sm font-medium"
                >
                  {{ username.charAt(0).toUpperCase() }}
                </div>
                <span
                  [class.text-pink-600]="selectedUsername$.value === username"
                  class="text-sm font-medium text-gray-700 truncate"
                >
                  {{ username }}
                </span>
              </div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </div>

  <!-- Content area -->
  <div class="flex-1" *ngIf="filteredWorkouts$ | async as filteredWorkouts">
    <!-- First row -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
      <app-streak-card [workouts]="filteredWorkouts"></app-streak-card>
      <app-most-active-exercise-card
        [workouts]="filteredWorkouts"
      ></app-most-active-exercise-card>
      <app-total-activities-card
        [workouts]="filteredWorkouts"
      ></app-total-activities-card>
      <app-calories-summary-card
        [workouts]="filteredWorkouts"
      ></app-calories-summary-card>
    </div>

    <!-- Second row -->
    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-12 lg:col-span-8">
        <app-weekly-overview-chart
          [workouts]="filteredWorkouts"
        ></app-weekly-overview-chart>
      </div>
      <div class="col-span-12 lg:col-span-4">
        <app-workout-distribution-chart
          [workouts]="filteredWorkouts"
        ></app-workout-distribution-chart>
      </div>
    </div>

    <!-- Third row -->
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-4">
        <app-mood-summary-card
          [workouts]="filteredWorkouts"
        ></app-mood-summary-card>
      </div>
      <div class="col-span-12 lg:col-span-8">
        <app-weekly-activity
          [workouts]="filteredWorkouts"
        ></app-weekly-activity>
      </div>
    </div>
  </div>
</div>
