<div class="flex h-screen overflow-hidden bg-[#f9f9f9] w-full">
  <main
    class="flex-1 overflow-y-auto scroll-smooth snap-y snap-mandatory custom-scrollbar">
    <div class="max-w-7xl mx-auto w-full h-full">
      <section
        id="workouts"
        class="h-screen snap-start px-6 py-6 bg-white shadow-sm">
        <app-workout-management></app-workout-management>
      </section>

      <section
        id="analytics"
        class="h-screen snap-start px-6 py-6 flex items-center justify-center">
        <app-workout-analytics></app-workout-analytics>
      </section>
    </div>
  </main>
</div>
